#content-orders {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.spinner-preto {
  --color: #3b82f6;
}

#nome-produto {
    font-size: 1rem;
    margin-right: 0.5rem;
    font-weight: 100;
}

#modal {
    --background: transparent;
}

h1 {
    font-size: .95rem;
}

.area {
    height: 100%;
}

#btn-abrir {
    height: min-content;
    background-color: transparent;
    padding: .5rem 1rem;
    border-left: 1px solid rgba(100, 99, 99, 0.342);
    border-radius: 1px;
}

#arrow {
    transition: .8s ease;
}

.arrow-activate {
    transform: rotate(180deg);
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ion-item {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

#order-section {
    border: 1px solid rgba(100, 99, 99, 0.342);
}

.btn-lancamento {
    height: min-content;
    background-color: transparent;
    padding: .5rem .77rem;
    border: 1px solid rgba(100, 99, 99, 0.342);
    border-radius: 1px;
    transition: all 0.2s ease-in-out;

    &:hover {
        filter: brightness(90%);
        transform: translateY(-1px);
    }
}

@media (max-width: 640px) {
    #filter-content {
        flex-direction: row;
        gap: 1rem;
    }

    .btn-lancamento {
        width: 100%;
        margin-top: 0.5rem;
    }
}

@media (min-width: 768px) {
    #filter-content {
        flex-direction: row;
        gap: 1rem;
    }

    .btn-lancamento {
        width: auto;
    }
}

.bg-zinc-800 {
    background-color: #f0f9ff;
    transition: background-color 0.2s ease-in-out;
}

.bg-zinc-800:hover {
    background-color: #e0f2fe;
}

.text-gray-400 {
    color: #60a5fa;
}

.text-white {
    color: #1e40af;
}

.card {
    border-left: .4rem solid oklch(44.6% 0.03 256.802);
}
