@keyframes aparecer {
  0% {
    transform: translateY(-100%);
  } 100% {
    transform: translateY(0%);
  }
}

h1 {
  margin: 0;
}

.modal-conexao {
  display: flex;
  align-items: center;
  justify-content: center;
  --background: transparent;
  z-index: 10000;
}

ion-select {
  --background: #fff;
  --color: #000; 
  --placeholder-color: #000;
}

.modal {
  backdrop-filter: blur(1px);
  animation: aparecer .4s linear;
}


ion-label {
  --widht: min-content;
}

#btn-fechar {
  margin-bottom: .5rem;
}

#form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}