@keyframes aparecer {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}


h1 {
  margin: 0;
}

.modal-conexao {
  display: flex;
  align-items: center;
  justify-content: center;
  --background: transparent;
  z-index: 10000;
}

ion-select {
  --background: #fff;
  --color: #000; 
  --placeholder-color: #000;
}

.modal {
  backdrop-filter: blur(1px);
  animation: aparecer .2s;
  transition: 1s;
}


ion-label {
  --widht: min-content;
}

#btn-fechar {
  margin-bottom: .5rem;
}

#form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}