.ion-content {
    display: flex;
    background-color: aqua;
}
div.item-native {
    padding-left: 0;
}

ion-item, ion-title {
    margin-left: -15px;
}
@media screen and (min-width: 820px) {
    #container {
        display: grid;
        grid-template-areas: ". toolbar" "image toolbar" ". toolbar";
        grid-template-columns: 2.5fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    ion-toolbar {
        grid-area: toolbar;
        display: flex;
        border-left: 1px solid rgba(0, 0, 0, 0.226);
    }

    #container::after {
        content: "";
        grid-area: image;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        background-image: url("https://www.app.supraalimentos.com.br/logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 450px;
    }
}
