<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <picture>
                <img src="{{url_for('static', filename='img/supralogo.png')}}" alt="logo">
            </picture>
            <ul>
                <li>
                    <a href="/atualizar-op">Atualizar Op</a>
                </li>
                <li>
                    <a href="/registrar-usuario">Registrar Usuarios</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block foor %}
    {% endblock foor %}
</body>
</html>